@primary-color: #4D76C1; // 全局主色
@font-size-base: 14px; // 主字号
@heading-color: #4A4A4A; // 标题色
@text-color-base: #FFFFFF; //大部分字体颜色
@text-color: #303133; // 主文本色
@text-color-secondary: #909399; // 次文本色
@text-color-extra: #C0C4CC; //辅助字体
@text-color-smit: #4A4A4A; //字体变色-前背景色
@text-color-miss: #FE5B6A; //字体变色-后背景色
@text-color-correct: #06AE0F; //字体变色-正确朗读
@icon-color: #888888; //图标颜色
@icon-color-star: #FFBC00; //图标颜色2
@icon-color-extra: rgba(0; 0; 0; 0.39); //图标颜色3
@btn-color: #3a517b; //按钮颜色1
@btn-color-extra: #adb5c6; //按钮颜色2
@bg-color: #F5F5F5; // 组件/浮层 颜色
@border-color-base: #D9D9D9; // 边框色
@border-color: #E0DEDE; // 边框色2
@border-color-secondary: #979797; // 边框色3，辅助边框色
@box-shadow-base: 0px 0px 12px 2px rgb(0 0 0 / 10%); // 浮层阴影


.themes-default-color {
  .box-shadow-evaluation {
    box-shadow: @box-shadow-base;
  }

  .box-shadow-none {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
  }

  .box-shadow-record {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.14);
  }

  .box-shaow-question {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  }

  .b1F {
    border: 1px solid @border-color-secondary;
  }

  .b1F-ed {
    border: 1px solid @bg-color;
  }

  .b1F-primary {
    border: 1px solid @primary-color;
  }

  .b1F-record {
    border: 1px solid @btn-color;
  }

  .b2F-record {
    border: 2px solid @btn-color;
  }

  .bdt1F {
    border-top: 1px solid @border-color;
  }

  .bdb1F {
    border-bottom: 1px solid @border-color;
  }

  .bdb2F-primary {
    border-bottom: 2px solid @primary-color;
  }

  .bdb1F-white-opacity19 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.19);
  }

  .b1F-not {
    border: 1px solid transparent !important;
  }

  .b2w {
    border-width: 2px !important;
  }

  .b1F-white {
    border: 1px dashed #ffffff;
  }

  .background {
    background: @primary-color;
  }

  .background-color {
    background-color: @primary-color;
  }

  .backg-icon {
    background: @icon-color-extra;
  }

  .backg-dot {
    background: #CCCCCC;
    ;
  }

  .backg-white {
    background: @text-color-base;
  }

  .backg-block {
    background: rgba(0, 0, 0, 1);
  }

  .backg-record {
    background: @btn-color  !important;
  }

  .backg-yinpin {
    background: @btn-color-extra  !important;
  }

  .backg-modal {
    background: @bg-color;
  }

  .backg-test {
    background: rgba(0, 0, 0, 0);
  }

  .backg-tools {
    background: rgba(0, 0, 0, 0.79);
  }


  .text-primary {
    color: @primary-color;
  }

  .text-color {
    color: @text-color;
  }

  .text-color-white {
    color: @text-color-base  !important;
  }

  .text-color-heading {
    color: @heading-color;
  }

  .text-color-secondary {
    color: @text-color-secondary;
  }

  .text-color-extra {
    color: @text-color-extra;
  }

  .text-color-red {
    color: @text-color-miss ;
  }

  .text-color-record {
    color: @btn-color;
  }

  .text-color-yinpin {
    color: @btn-color-extra;
  }

  .icon-color {
    color: @icon-color;
  }

  .icon-color-extra {
    color: @icon-color-extra;
  }

  .icon-color-star {
    color: @icon-color-star;
  }
  
  .site-button-ghost-wrapper {
    background: #000000 !important;
  }

  .icon-record .yinpin-record {
    background: @btn-color;
  }

  .recordering .yinpin-record {
    border-right-color: @btn-color;
  }

  .hr {
    background: @btn-color-extra;
  }

  .smil-text {
    background: @text-color-smit -webkit-linear-gradient(left, @text-color-miss , @text-color-miss) no-repeat 0 0;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 0 100%;
  }

  .smil-text>span {
    background: @text-color-smit -webkit-linear-gradient(left, @text-color-miss, @text-color-miss) no-repeat 0 0;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 0 100%;
  }

  .smil-text .text-color-record-sure {
    background: @text-color-correct -webkit-linear-gradient(left, @text-color-miss, @text-color-miss) no-repeat 0 0;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 0 100%;
  }

  .smil-text .text-color-record-miss {
    background: @text-color-smit -webkit-linear-gradient(left, @text-color-miss, @text-color-miss) no-repeat 0 0;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 0 100%;
  }

  .smil-text .text-color-record-fause {
    background: @text-color-miss -webkit-linear-gradient(left, @text-color-miss, @text-color-miss) no-repeat 0 0;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 0 100%;
  }
}